header {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
    	background-color: #fff;
}

.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
	order: 1;
	width: 80%;
	text-align: right;
}

.title {
    order: 1;
    flex-grow: 3;
}


.intro {
    order: 2;
}

main {
   	padding-right: 10%;
    	padding-left: 10%;
}


.about {
    	font-family: 'Crimson Text', serif;
    	font-size: 16px; 
}

body {
	background: #fff;
}

.featured-work {
    	padding-top: 25px;
    	padding-bottom: 25px;
}

.project-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	justify-content: space-between;

}

.project-item {
	max-width: 33.3%;
}

a:hover {
	opacity: 0.5;
	filter: alpha(opacity=50);
	/* For IE8 and earlier */
}

h1 {
	font-family: "Karla:700", Helvetica, Arial, sans-serif;
    	color: #222;
	font-size: 22px;
    	font-weight: 700;
    	text-align: left;
}	

h2 {
	font-family: "Karla", Helvetica, Arial, sans-serif;
    color: #222;
	font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 4px;
}

h3 {
	font-family: "Karla:700", Helvetica, Arial, sans-serif;
    color: #222;
    text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 4px;
} 

h4 {
    font-family: "Karla: 700", Helvetica, Arial, sans-serif;
    color: #2d3c49;
    font-size: 16px;
    text-align: center;
}

p {
    font-family: "Karla", Helvetica, Arial, sans-serif;
    color: #222;
	font-size: 16px;
    text-align: center;
}

img {
	max-width: 100%;
}

footer {
	margin: 0 auto;
	max-width: 1000px;
	padding: 30px, 0px;
}

.social {
   	 text-align: center;
   	 padding: 5%;
}

.social-image {
   	 width: 40px;
   	 height: 40px;
}

@media only screen and (max-width: 1000px) {
	.project-item {
		max-width: 50%;
	}
}

@media only screen and (max-width: 675px) {
	.project-item {
		max-width: 100%;
    }   
     .tagline {
        font-size: 20px;
        font-weight: bold;
    }
     h1 {
        text-align: center;
    }
    h2 {
        text-align: center;    
    }
}